*{
    padding: 0;
    margin: 0;
}

.cardContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-top: 30px;
    padding-bottom: 10px;

    scrollbar-width: auto;
    -ms-overflow-style: none;
}

.cardContainer::-webkit-scrollbar {
    display: block;
}

.cardContainer h2
{
    color: white;
}

.outerCardContainer
{
    text-align: center;
    font-size: x-large;
}

.outerCardContainerv h2
{

}