*{
    padding: 0;
    margin: 0;
}

.cardContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-top: 30px;
    padding-bottom: 10px;

    scrollbar-width: auto;
    -ms-overflow-style: none;
}

.cardContainer::-webkit-scrollbar {
    display: block;
}

.cardContainer h2
{
    color: white;
}

.outerCardContainer
{
    text-align: center;
    font-size: x-large;
}


.difficulty-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.difficulty-box {
    background: #111;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

.difficulty-box button {
    display: block;
    margin: 10px auto;
    padding: 8px 20px;
}