.footerSection {
    border-top: 1px solid #7a7a7a;
    margin-top: 10rem;
}

.upperFooter {
    padding: 2rem 2rem 2rem 7rem;
    display: flex;
    
}

.footer-containt a {
    text-decoration: none;
    color: white;
}

.social-media {
    display: flex;
    gap: 30px;
}

.footer-containt img {
    width: 35px;
    height: 35px;
    margin-top: 0.5rem;
}

.footer-logo
{
    max-width: 250px;
    margin-right: 20px;
}



.lowerFooter {
    border-top: 1px solid #8e90949d;
}

.footerlist
{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 550px) {
    .social-media {
        display: none;
    }

    .upperFooter
    {
        padding-left: 2rem;
    }

}

@media (max-width: 500px) {

    #footerlist-2 {
        display: none;
    }
}