.footerSection {
    border-top: 1px solid #7a7a7a;
    margin-top: 10rem;
}

.upperFooter {
    padding: 2rem 0 2rem 7rem;
}

.footer-containt a {
    text-decoration: none;
    color: white;
}

.social-media {
    display: flex;
    gap: 30px;
}

.footer-containt img {
    width: 35px;
    height: 35px;
    margin-top: 0.5rem;
}



.lowerFooter {
    border-top: 1px solid #8e90949d;
}

@media (max-width: 550px) {
    .social-media {
        display: none;
    }

}

@media (max-width: 500px) {

    #footerlist-2 {
        display: none;
    }
}