.footerSection
{
    border-top: 1px solid #7a7a7a;
    margin-top: 10rem;
}

.upperFooter{
    padding: 3rem 0 3rem 7rem;
}

.social-media{
    
}

.lowerFooter
{
    border-top: 1px solid #8e90949d;
}