*{
    padding: 0;
    margin: 0;
}

.hero-info
{
    padding-left: 150px;
}

.hero-info h1
{
    font-size: xx-large;
}

.hero-image
{
    padding-right: 150px;
    
}

.sub-hero h6 {
    font-size: medium;
    color: rgb(151, 151, 151);
    font-weight: 500;
    padding-right: 200px;
}

.hero-li
{
    display: flex;
    align-items: center;
    gap: 5px;
}

.tick
{
    height: 15px;
}

.hero-cta
{
    display: flex;
    padding-left: 40px;
    padding-top: 20px; 
    gap: 10px;
}

.hero-cta-btn
{
    background-color: rgb(247, 247, 40);
    color: black;
    border-radius: 5cqmax;
    border: 2px solid #444;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
    font-weight: 700;
    cursor: pointer;
}

.cta-btn
{
    color: white;
    border-radius: 5cqmax;
    border: 2px solid #444;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
}

.cta-btn:hover
{
    background-color: rgb(151, 151, 151);
    transition: all 0.2s ease;
}

.hero-cta-btn:hover{
    background-color: rgb(255, 255, 170);
    transition: all 0.2s ease;
}

@media (max-width: 1000px) {
    .hero-image
    {
        display: none;
    }

    .heroOuter
    {
        padding-top: 100px;
    }

    .hero-info{
        padding-left: 50px;
        padding-right: 30px;
        margin-bottom: 50px;

    }
    
    .hero-cta
    {
        padding-left: 0;
    }
}