.quiz-container {
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: white;
}

.quiz-box {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.timer {
    background: #ff4d4d;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
}

.options button {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid gray;
    color: white;
    transition: 0.3s;
}

.options button:hover {
    background: #242525;
    transform: scale(1.02);
}

.result-box {
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.back-btn {
    margin-bottom: 20px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #4A1Ab3;
    width: 90%;
    max-width: 600px;
    margin-top: 40px;
    border-radius: 5px;
}

.back-btn:hover
{
    background-color: #5820d3;
}
